 
 body{
    margin: 0px;
     padding: 0px;
 }
 .tri{
    width: 200px;
    margin: 100px auto ;
    
    
}
 



.triangle1{
    width: 0px;
    height: 0px;
    
    border-right: 80px solid transparent;
    border-bottom: 80px solid blue;
    border-left: 80px solid transparent;
    position: absolute; 
    z-index: 3;
    
}

.triangle2{
    width: 0px;
    height: 0px;
    top: 135px;
    
    border-right: 80px solid transparent;
    border-bottom: 80px solid red;
    border-left: 80px solid transparent;
    position: absolute; 
    z-index: 2;
    
}
.triangle3{
    width: 0px;
    height: 0px;
    top: 165px;
    
    border-right: 80px solid transparent;
    border-bottom: 80px solid yellow;
    border-left: 80px solid transparent;
    position: absolute; 
    z-index: 1;
} 